body{ 
    font-family: Arial, sans-serif; 
    margin: 20px; 
} 
 
.logo{ 
    width: 120px; 
    margin-bottom: 20px; 
} 
 
.page{ 
    display: flex; 
    gap: 30px; 
} 
 
/* LEFT SIDE */ 
 
.sidebar{ 
    width: 350px; 
} 
 
.item{ 
    display: flex; 
    gap: 10px; 
    margin-bottom: 20px; 
} 
 
.item img{ 
    width: 100px; 
    height: 100px; 
    object-fit: cover; 
} 
 
.item h3{ 
    margin: 0; 
} 
 
.item p{ 
    margin-top: 5px; 
} 
 
/* RIGHT SIDE */ 
 
.main{ 
    flex: 1; 
} 
 
.featured{ 
    width: 100%; 
    max-width: 800px; 
    margin-bottom: 20px; 
} 
 
.video{ 
    width: 100%; 
    max-width: 800px; 
    margin-top: 20px; 
} 